{
    "parser": "babel-eslint",
    "extends": [
      "airbnb",
      "eslint:recommended",
      "plugin:react/recommended",
      "prettier",
      "prettier/react"
    ],
    "plugins": ["jest"],
    "globals": {
      "window": true,
      "document": true
    },
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["./src"],
          "extensions": [".js"]
        }
      }
    },
    "rules": {
      "react/jsx-filename-extension": 0,
      "react/display-name": false,
      "import/prefer-default-export": 0,
      "react/destructuring-assignment": false,
      "react/require-default-props": false,
      "jest/no-disabled-tests": "warn",
      "jest/no-focused-tests": "error",
      "jest/no-identical-title": "error",
      "jest/prefer-to-have-length": "warn",
      "jest/valid-expect": "error"
    },
    "env": {
      "jest/globals": true
    }
}